{% extends "@Merchant/Default/index.html.twig" %}
{% block body %}
<div class="header" style="color-interpolation: linearRGB;background-color: #7DA0B1;color:white">
      <h1 align="center">Welcome to jinikart</h1>
      <h3 align="left">Forgot the password</h3>
</div>
<div class="main" align="left" style="padding=30px 10px 20px 20px;color:blue; margin-left:30em">
  
   {% if message %}
        {{ message }}
    {% endif %}
    
    <form action="{{ path('merchant_forgotpassword_page') }}" method="post">
    <br/><br/>
    <label for="email">Your email id: </label>&nbsp&nbsp
     <input type="email" id="email" name="email" /><br/><br/>
    <h5 style="color:Red">Please answer the following question</h6>
     <label for="question">Your question : </label>&nbsp&nbsp{{ question }}<br/>
     <label for="Answer">Your Answer : </label>&nbsp&nbsp
     <input type="text" id="answer" name="answer" /><br/>
     <label for="Password">Password : </label>&nbsp&nbsp
     <input type="password" id="password1" name="password1" /><br/>
     <label for="Confirm">Confirm password : </label>&nbsp&nbsp
     <input type="password" id="password2" name="password2" /><br/>
    
     <button type="submit" style="margin-left:7em" name="submit">submit</button>  
     <button type="clear"  name="clear">clear</button>  
    </form>    
       
</div>
{% endblock %}