{% extends "@Merchant/Default/index.html.twig" %}
{% block body %}
    <div class="main" align="center">
    <h2 class="header">Merchant Login</h2>
    <div  style=" padding: 20px 15px 15px 20px; left: 100px " align="left">
        {% if error %}
            <div style="color: darkred">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('merchant_login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="email" value="{{ last_username }}" />
            <br/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
            <br/>
             <input type="checkbox" id="remember_me" name="remember_me" />
             <label for="remember_me">Keep me logged in</label><br/>
        <button type="submit">login</button>
        <a href="{{ path('merchant_registration') }}" style="color: blue">New to Jinikart? SignUp!!</a>
        </form>
   </div>
{% endblock %}

