{% extends "@Customer/Default/index.html.twig" %}
{% block body %}
<div class="header" style="color-interpolation: linearRGB;background-color: #7DA0B1;color:white">
      <h1 align="center">Welcome to jinikart</h1>
      <h3 align="left">Forgot the password</h3>
</div>
<div class="main" align="left" style="padding=30px 10px 20px 20px;color:blue; margin-left:30em">
           
        {{ form_start(form) }}
        <div id="buttons" class="btn">
         {{ form_row(form.password,  { 'attr': {'class': 'form-group'} }) }}
            <button type="submit">Register!</button>
            <button type="reset">Clear</button>
            </div>
        {{ form_end(form) }}
</div>
{% endblock %}