# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false
     # makes classes in src/AppBundle available to be used as services
    CommonServiceBundle\:
        resource: '../../src/CommonServiceBundle/*'
        exclude: '../../src/CommonServiceBundle/{Entity,Repository}'
    
    

    admin.template:
        class: AdminBundle\Controller\Admin\EmailTemplateAdmin
        arguments: [~, Common\Model\email_template, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label:Email template }
        public: true
