{% extends "::base.html.twig" %}

{% block title %}CustomerBundle:RestProductApi:PProductDisplay{% endblock %}

{% block body %}
<h1>Welcome to the RestProductApi:PProductDisplay page</h1>
{% endblock %}
