{% extends "@Merchant/Default/index.html.twig" %}
{% block body %}
    <div class="header" style="color-interpolation: linearRGB;background-color: #7DA0B1;color:white">
      <h1 align="center">Welcome to jinikart</h1>
       <h5>Hello {{ merchant.contactPersonName }}!!!!</h5>
    </div>
{% endblock %}