{% extends "@Merchant/Default/index.html.twig" %}
{%  block head %} {% endblock %}
{% block body %}
 <div class="header" align="right" style="color-interpolation: linearRGB;background-color: #7DA0B1;color:white">
      <h1 align="center">Welcome to jinikart</h1>
      <h1 align="left">Merchant portal</h1> 
      <input type="button" value="SignIn" onclick="window.location.href='{{ path('merchant_login') }}'" />
      <input type="button" value="Sign up" onclick="window.location.href='{{ path('merchant_registration') }}'" />
      
    </div>
 {% endblock %}
    
