{% extends "@Merchant/Default/index.html.twig" %}
{% block body %}
<div class="container">
    <table  >
      <tr>
        <th>IMEI NO</th>
        <th>Product Name</th>
      </tr>
      <tr>
        <td>1234 </td>
        <td> Samsung Note</td>
      </tr>
      <tr>
        <td>567 </td>
        <td> Moto G</td>
      </tr>
</table>
</div>
{% endblock %}