{% extends "@Merchant/Default/index.html.twig" %}
{% block body %}
<h2>Update</h2>
<div class="container" style="padding:50px 15px 15px 30px;margin-left:35%">
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="Update"/>
{{form_end(form)  }}
</div>
{% endblock %}