.container {
	font-family:"Times New Roman";
	font-size: 20px;
	display: inline;
	width:200px;
}

.details{
	font: bold;
	font-family:"Times New Roman";
	font-size:35px;
}

.lbl{
	text-align:center;
	font-size:40px;
	color: blue;	
}