{% extends "@Merchant/Default/index.html.twig" %}
{% block head %}
	  <div class="header" style="color-interpolation: linearRGB;background-color: #7DA0B1;color:white">
      <h1 align="center">Welcome to jinikart</h1>
 {%endblock %}
 {% block body %}
 <div id="show-errorMessage" class="erorMessage" align="center" >
 {{ dump() }}
 </div>
 
 
 {% endblock %}