{% extends "@Customer/Default/index.html.twig" %}
{% block body %}
<div>
<h2>Welcome To Your WishList</h2>
</div>
<div style="margin:10em; padding: 75px 90px 90px 90px">
<p><label>Total Products in the wish list:</label></p>
<p><label>Product Name:</label>{{ "Samsung Galaxy" }}</p>
<p><label>Product Price:</label>{{ "17000" }}</p>
<button type="submit" style="margin:auto; ">Add To Cart</button>
</div>
{% endblock %}